 <!--/<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header ">
        <button type="button" class="navbar-toggle navbar-toggler pull-right" (click)="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand visible-xs" href="#">ng2-charts</a>
      </div>
      <nav class="hidden-xs hidden-xs-down">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a href="#top" role="button" class="navbar-brand">ng2-charts</a></li>
          <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <nav class="visible-xs ">
        <ul class="nav nav-pills nav-stacked scrollable-menu" [collapse]="!isCollapsed" (click)="isCollapsed = !isCollapsed; true">
          <li class="nav-item">
            <a class="dropdown-item" href="uuuu">Home</a>
              <a class="dropdown-item" href="uuu">About</a>
                <a class="dropdown-item" href="uuu">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </nav>-->

 <app-navbar></app-navbar>
  <!-- Header -->
     <div class="module mid">
          <h2>{{title}}</h2>
</div>
 <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
     <div class="jumbotron">
      <div class="container">
        <h1>Hello!</h1>
        <p>Lorem ipsum dolor sit amet, labitur appellantur cu per. Pro bonorum suscipit ullamcorper eu, pro modo feugait et. Ne illum partiendo pri, pri ut vulputate adipiscing. Purto iudico vis no, mundi dolore expetendis vel et, et cum habemus invenire. Fabellas expetenda vim an, vis mutat erroribus scriptorem ei, altera prodesset cum no.
</p>
       
      </div>
    </div>

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Meis perfecto intellegat usu no <span class="text-muted"> ne est hinc antiopam.</span></h2>
          <p class="lead">Sed duis affert eu. Ne eum quando dolorum, ad zril fabulas vix, his putant mollis mandamus ne. Eum graeci recusabo et, ut propriae eleifend usu. Vero repudiare mei at. Ei vel amet minimum, ad eos ocurreret dissentiet.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="assets/grav.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Ei inani singulis eum,   <span class="text-muted">mei decore eirmod at.</span></h2>
          <p class="lead">Ei inani singulis eum, mei decore eirmod at. Pro no facer argumentum. Eu harum platonem has, sit ei sensibus postulant. Ex has laudem putant gubergren, dolorum laboramus reprimique ut ius. Elitr soluta contentiones eos eu. Corpora epicurei aliquando usu te, et commodo eleifend mei.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="assets/bygg2.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Est aperiam qualisque ea, pri error nominavi te,  <span class="text-muted">his elit mandamus an.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="assets/bygg3.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Opp igjen</a></p>
        <p>&copy; 2016 {{title}}. &middot; <a href="#">kopirett</a> </p>
      </footer>

    </div><!-- /.container -->


